apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-1
  namespace: default
  labels:
    app: nginx-1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-1
  template:
    metadata:
      labels:
        app: nginx-1
    spec:
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: my-pvc
      containers:
        - name: container101
          image: us-central1-docker.pkg.dev/csci5409-389802/docker/container101:latest
          ports:
            - containerPort: 3000

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: my-pvc
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  gcePersistentDisk:
    pdName: gke-standard-cluster-default-pool-c44131dd-krh0
    fsType: ext4

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: nginx-1-hpa-nkux
  namespace: default
  labels:
    app: nginx-1
spec:
  scaleTargetRef:
    kind: Deployment
    name: nginx-1
    apiVersion: apps/v1
  minReplicas: 1
  maxReplicas: 5
