apiVersion: apps/v1
kind: Deployment
metadata:
  name: container-1
  namespace: container-1
spec:
  replicas: 3
  selector:
    matchLabels:
      app: container-1
  template:
    metadata:
      labels:
        app: container-1
    spec:
      containers:
        - name: container-1
          image: us-central1-docker.pkg.dev/csci5409-389802/docker/container-1/container-1:latest
          ports: 
          - containerPort: 3000
          volumeMounts:
            - name: data-volume
              mountPath: /data
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: data-pvc
